**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.pdf
**.*~
**.*~*
**.*dvi
**.*fls
**.*fdb_latexmk
**.*swp
**.*idx
**.*ilg
**.*ind
cookbook-blx.bib
cookbook.bbl
cookbook.blg
cookbook.run.xml
cookbook.bcf
cookbook.maf
cookbook.mtc*


# ignore all images, use a separate project
**/*.jpg
**/*.jpeg
**/*.png
