**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.pdf
**.*~
**.*~*
**.*dvi
**.*fls
**.*fdb_latexmk
**.*swp
**.*swo
**.*idx
**.*ilg
**.*ind
**-blx.bib
**.bbl
**.blg
**.run.xml
**.bcf
**.maf
**.mtc*

# acronym
**.acn
**.acr
**.alg
**.glg
**.glo
**.gls
**.ist


# ignore all images, use a separate project
**/*.jpg
**/*.jpeg
**/*.png
